// @import "*";

@import "foundation_and_overrides";

.auth {
  padding: 15% 0;
}

.inline {
  display: inline-block;
}

.error {
  margin-left: 1rem;
}

.list {
  padding: .25rem;
  border-bottom: 1px solid black;
  margin: 0px;
}

.scrollable {
  overflow: scroll;
}

.full-panel {
  height: 90vh;
}

.half-panel {
  height: 45vh;
}

.header {
  height: 10vh;
}
